//@import url('//fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto&display=swap');

@import url('//fonts.googleapis.com/css2?family=Kalam&display=swap');

// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$navbar-brand-font-size: 26px;
$navbar-dark-color: $white;

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";

@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar"; // Requires nav
@import "~bootstrap/scss/card";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/accordion";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal"; // Requires transitions
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/spinners";
// @import "~bootstrap/scss/offcanvas"; // Requires transitions
// @import "~bootstrap/scss/placeholders";

// Helpers
@import "~bootstrap/scss/helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";


//
// Custom styles
//

$text-shadow: 1px 2px 3px #000;

.handwrite {
    font-family: 'Kalam', cursive;
}

.App {
    min-height: 100vh;
}

.navbar {
    transition: background-color .25s;
    &.navbar-bg {
        background-color: rgba($black, 0.7);
    }
    &.navbar-dark {
        .btn-link {
            color: $white;
            box-shadow: none;
        }
    }
}

.content {
    padding-top: 8rem;
    padding-bottom: 5rem;
}

.home {

    .teaser {
        display: flex;
        min-height: 100vh;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), transparent), url(./assets/img/home_background.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        color: $white;
        h1 {
            text-shadow: $text-shadow;
        }
    }
}

.trip-cover-image {
    position: relative;
    overflow: hidden;
    img {
        transition: transform .5s ease-in-out;
        max-width: 100%;
    }
    &:hover {
        img {
            transform: scale(1.05) rotate(2deg);
        }
    }
    .trip-cover-name {
        position: absolute;
        bottom: 75px;
        left: 50px;
        font-weight: $font-weight-bolder;
        text-transform: uppercase;
        color: $white;
        text-shadow: $text-shadow;
    }

}

.tiled {
    @include media-breakpoint-up(md) {
        transform: rotate(5deg);
    }
}
